// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-purple: rgb(104, 106, 163);
$standard-purple: rgb(81, 83, 162);


body {
  background-color: #fafafa;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.navbar-brand {
  font-size: 2em;
  padding: 10px !important;
  a {
    color: white;
  }
  i {
    color: white;
  }
}

.navbar-default {
  background-color: $standard-purple;
  border-radius: 0 !important;
  .navbar-nav li a {
    color: white;
  }
}

.navbar-container {
  width: 640px;
  margin: 0 auto;
}

.navbar-form i {
  color: $standard-purple;
}

.feed,
.profile {
  background-color: #e4ecf2;
  border-radius: 10px;
  box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
}

.profile {
  padding: auto 30px;

}

.img-responsive {
  border-radius: 10px;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #fff;
  border: 1px solid #edeeee;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 15px;
  line-height: 18px;
}

.form-wrapper {
  margin-bottom: 10px;
  background-color: $light-purple;
  padding: 20px;
  border: 1px solid #eeefef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.follow {
  position: relative;
  float: right;
  top: -30px;

  border: 1px solid $standard-purple;
  padding: 4px;
  border-radius: 10px;
}

.follow a {
  color: $standard-purple;
}

i {
  color: black;
}

.fa-heart {
  color: red;
}
